.bg-dark {
    background-color: $very-dark-blue!important;
}

.bg-light {
    background-color: $very-light-gray!important;
}

.bg-dark-font {
    color: $light-grayish-blue!important;
}

.bg-light-font {
    color: $dark-grayish-blue!important;
}

.app-guide-dark {
    color: $dark-grayish-blue!important;
}

.app-guide-light {
    color: $dark-grayish-blue!important;
}