@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.input-interface__heading {
  font-size: 2.3em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: $very-light-gray;
}

.input-interface {
  & > * {
    font-size: 1em;
    font-weight: $font-weight-400;
  }
}

.input-interface__form {
  input {
    font-size: 1em;
    font-weight: $font-weight-400;
  }
}

.active-states {
  color: $dark-grayish-blue;
  font-size: .9em;

  button {
    font-weight: $font-weight-400;
    font-size: .9em;
    color: $dark-grayish-blue;
  }
}
