@media screen and (max-width: 650px) {
    .remove-task {
        display: block!important;
    }

    .input-interface {
        width: 95%;
    }

    .active-states__filters {
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: -5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 4px;
        width: 100%;
        padding: 1.3em;

        a {
            font-size: 1.2em;
        }
    }
}